{% extends 'base.html' %} {% load static %} {% block content %}
<div class="card">
    <div class="chat-container">

        <div class="main">
            {% include 'logo.html' %} ChatMe
        </div>
        <div class="sub-main">
            <div class="main-user">
                <img src="{% static 'images/upwork.jpg' %}" alt="Profile Picture">
            </div>
            <a href="{% url 'profile' %}">
                <p>Jeff Kimani</p>
            </a>
        </div>
    </div>

    <div class="header">Messages</div>
    <div class="friends-container">
        <div class="scroll-content" id="scrollContent">
            {% for friend in friends %}
            <a href="{% url 'detail' pk=friend.id %}" style="color: black; text-decoration: none;">
                <div class="friends">
                    <div class="pic">
                        <img src="{% static 'images/avatar.png' %}" alt="Friend Picture">
                    </div>
                    <div class="name">
                        <h5>{{ friend.name }}</h5>
                        <p>{{ friend.message }}</p>
                    </div>
                    <div class="time_new_msg">
                        <div class="msg">1</div>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>



    <div class="footer">
        <a href="#">
            <img src="{% static 'images/home.png' %}" alt="">
        </a>
        <a href="{% url 'friends_list' %}">
            <img src="{% static 'images/add contact.png' %}" alt="">
        </a>
        <a href="#">
            <img src="{% static 'images/settings icon.jpg' %}" alt="">
        </a>
    </div>

</div>
{% endblock %}